In [1]:
import pandas as pd

In [2]:
friend_dict_list = [
    {'name' : 'john', 'age': 25, 'job' : 'student'},
    {'name' : 'Nate', 'age': 30, 'job' : 'teacher'}
]

In [3]:
df = pd.DataFrame(friend_dict_list)

In [4]:
df.head()

   age      job  name
0   25  student  john
1   30  teacher  Nate

dictionary같은 경우에는 key값의 순서가 보장되지 않는다.

In [5]:
df = df[['name', 'age','job']]

In [6]:
df.head()

   name  age      job
0  john   25  student
1  Nate   30  teacher

#key값의 순서를 자동으로 정렬하기 위해서 OrderedDict를 사용해준다.

In [7]:
from collections import OrderedDict

In [8]:
friend_ordered_dict = OrderedDict(
        [
            ('name',['John', 'Nate']),
            ('age',[25, 30]),
            ('job',['student', 'teacher'])
        ]
    
)

In [9]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [10]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

list type으로 dataframe을 만들어보겠다

In [11]:
friend_list = [
            ['name', ['john','Nate']],
            ['age', [25, 30]],
            ['job', ['student', 'teacher']],
]

In [12]:
df = pd.DataFrame.from_items(friend_list)

C:\Users\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """Entry point for launching an IPython kernel.

In [13]:
df.head()

   name  age      job
0  john   25  student
1  Nate   30  teacher